/*全局样式*/
*{
    padding:0;
    margin:0;

}
html{
    width:100%;
    position: relative;
}

#tab1{
    align-content: center;
    text-align: center;
    width:100%;
    height:100%;
    font-size:6px;
    font-family: Geneva, sans-serif Georgia, "Times New Roman", Times, serif;
    font-weight:700;
    background-color: rgba(255, 242, 228, 0.31);
}

#tab2{
    text-align: center;
    width:100%;
    height:100%;
    font-size:12px;
    font-family: Geneva, sans-serif Georgia, "Times New Roman", Times, serif;
    font-weight:700;
    background-color: rgba(255, 242, 228, 0.31);
}

#tab3,#tab4{
     text-align: center;
     width:100%;
     height:100%;
     font-family: Geneva, sans-serif Georgia, "Times New Roman", Times, serif;
     font-weight:700;
     background-color: rgba(255, 242, 228, 0.31);
 }


.tHead{
    font-family: Times, serif;
    font-size: 24px;
    font-weight:900;
    color: #1b20d7;
}

.dev{
    margin-top: 15px;
    margin-bottom: 2px;
}

.addInput{
    background-color: rgba(255, 242, 228, 0.31);
    text-align: center;
    height: inherit;
    width: inherit;
    border-style: hidden;
    font-weight:700;
    font-family: Geneva, sans-serif Georgia, "Times New Roman", Times, serif;
    color: black;
}

.head{
    height: 45px;
    text-align: center;
    font-size: 13.5px;
    font-weight: bolder;
    background-color: rgba(255, 233, 209, 0.48);
}

.th{
    height: 35px;
}

.cen{
    text-align: center;
}

/*导航*/
.nav-style{
    font-size: 22px;
    font-family: "Times New Roman", Times, serif;
    height:80px;
    padding-top:15px;
    opacity:0.85;
}

#nat{
    font-size: 22px;
    font-family:serif;
    font-weight: bolder;
}


/*主页*/
#home{
    height:1010px;
    width: 100%;
}


/*人员配置表*/
#peiZhi{
    margin-top:90px;
    margin-left: 2px;
}

.td1{
    width: 45px;
    background-color:  rgba(255, 242, 228, 0.31);
}

.td2{
    width: 58px;
    background-color: rgba(255, 242, 228, 0.31);
}

.td3{
    width: 50px;
    background-color: rgba(255, 242, 228, 0.31);

}

.td3 input{
    width: inherit;

}

.td4{
    width: 120px;
    background-color: rgba(255, 242, 228, 0.31);
}


/*上班安排表*/
#shangBan{
    margin-top:90px;
    margin-left: 2px;
    margin-bottom: 80px;
}

.person{
    width:90px;
    height: inherit;
}

.tsb{
    width:2.9%;
}

.input{
    font-size:larger;
    font-family:"Times New Roman";
    font-weight:800;
    text-align: center;
    color: #0d2dd9;
}


/*工作安排表1*/
#anPai1{
    margin-top:90px;
    margin-left: 2px;
}

.box{
    font-size: smaller;
    height: auto;
    padding-bottom: 4px;
    width: 290px;
    background-color: #a1c6d2;
    text-align: center;
    display: none;
    position: absolute;
    margin-top: -3.58px;
}

label{margin:0;}

.tw  {width: 57px;}

.tw input{font-size:smaller;}

.font{font-size: smaller;}

.tdc {width:auto;height: 18px;}

.tdc textarea{
    text-align: left;
    font-size:1px;
    font-family:宋体,"Times New Roman", Times, serif;
    font-weight: 500;
}

/*工作安排表2*/
#anPai2{
    margin-top:150px;
    margin-left:2px;
    margin-bottom:300px;
}

.cen{
    font-size: 13px;
    text-align: center;
}

.cen:nth-child(1){
    width: 80px;
}
.cen:nth-child(2){
    width: 20px;
}

.tdf{
    height: 18px;
}
.tdf:nth-child(3){
    width: 325px;
}
.tdf:nth-child(4){
    width: 150px;
}
.tdf:nth-child(5){
    width: 355px;
}
.tdf:nth-child(6){
    width: 324px;
}
.tdf:nth-child(7){
    width: 324px;
}
.tdf:nth-child(8){
    width: 63px;
}
.tdf:nth-child(9){
    width: 105px;
}
.tdf:nth-child(10){
    width: 63px;
}
.tdf:nth-child(11){
    width: 63px;
}
.tdf:nth-child(12){
    width: 63px;
}

.tdf textarea{
    text-align: left;
    font-size:1px;
    font-family: 宋体,"Times New Roman", Times, serif;
    font-weight:500;
}

.secBox{
    font-size: smaller;
    height: auto;
    width: 350px;
    padding-bottom: 4px;
    background-color: #a1c6d2;
    text-align: center;
    display: none;
    position: absolute;
    margin-top: -3.58px;
}

textarea{
    resize:none;
    margin-bottom: 0;
    width:inherit;
    height:inherit;
}

.head tr:first-child{
    width: 100px;
    height: 50px;
}


/*footer*/
footer{
    font-size:12px;
    background-color: #080808;
    height:70px;
    width: 100%;
    bottom: 0;
    left: 0;
    line-height:70px;
    opacity:0.75;
    text-align:center;
    position:absolute;
}
