<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智能排班表</title>
    <link rel="icon" href="./images/icon.ico"/>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/tab.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target=".navbar">

<!-- 导航 -->
<header>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse nav-style" role="navigator">
        <div class="container">
            <div class="navbar-header">
                <a id="nat" class="navbar-brand middle-font" href="#">智能排班表</a>
            </div>
            <div class="collapse navbar-collapse navbar-right middle-font" id="navbar">
                <ul class="nav navbar-nav">
                    <li><a href="index.html#home">主页</a></li>
                    <li><a href="index.html#peiZhi">人员配置表</a></li>
                    <li><a href="index.html#shangBan">上班安排表</a></li>
                    <li><a href="anPai.html#anPai1" >工作安排表1</a></li>
                    <li><a href="anPai.html#anPai2" >工作安排表2</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#aboutmodal">关于</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div id="vel">

    <!--工作安排表1-->
    <section id="anPai1">
        <span class="tHead">工作安排表1</span>
        <div class="dev">
            <input class="input" type="button" value="initData" @click="initDays()"/>&nbsp;&nbsp;
            <input class="input" type="button" value="saveData" @click="saveData()"/>&nbsp;&nbsp;
            <input class="input" type="button" value="loadData" @click="loadData()"/>
        </div>
        <table id="tab3" cellpadding="2" cellspacing="1" border="3" >
            <thead class="head">
            <tr class="th">
                <th rowspan="2" colspan="2">月份：{{getMonths()}}月</th>
                <th v-for="n in getDays()" class="cen">{{n}}日</th>
                <th rowspan="2">工作：</th>
                <th rowspan="2">休息：</th>
            </tr>
            <tr class="th"><th v-for="n in getDays()" class="cen">{{getWeeks(n)}}</th></tr>
            </thead>
            <tbody>
            <tr v-for="(person,pidx) in persons">
                <td class="tw"><input v-model="person.name" class="addInput"></td>
                <td class="tw"><input v-model="person.depart" class="addInput"></td>
                <td class="tdc" v-for="(day,didx) in person.days">
                    <textarea  @click="showBox(pidx, didx)" class="addInput">{{day.jobs.join(',')}}</textarea>
                    <div :id="'box' + pidx + '_' +  didx" class="box">
                        <label v-for="pos in filterEnablePositions(person.positions)"><input class="chBo" type="checkbox" :value="pos.name" />{{pos.name}}</label><br/>
                        <input id="submit" type="button" value="提交" @click="submitBox(day, pidx, didx)"/>
                    </div>
                </td>
                <td  class="font">{{getWorkDays(person)}}天</td>
                <td  class="font">{{getDays()-getWorkDays(person)}}天</td>
            </tr>
            <tr><td rowspan="11" colspan="2" >工作统计</td></tr>
            <tr><td v-for="n in getDays()" class="font">副班：{{getJobCount(n,"副班")}}人</td></tr>
            <tr><td v-for="n in getDays()" class="font">正常上传：{{getJobCount(n,"正常上传")}}人</td></tr>
            <tr><td v-for="n in getDays()" class="font">正常初审：{{getJobCount(n,"正常初审")}}人</td></tr>
            <tr><td v-for="n in getDays()" class="font">正常终审：{{getJobCount(n,"正常终审")}}人</td></tr>
            <tr><td v-for="n in getDays()" class="font">历史数据：{{getJobCount(n,"历史数据")}}人</td></tr>
            <tr><td v-for="n in getDays()" class="font">手工采集：{{getJobCount(n,"手工采集")}}人</td></tr>
            <tr><td v-for="n in getDays()" class="font">修改库文件：{{getJobCount(n,"修改库文件")}}人</td></tr>
            <tr><td v-for="n in getDays()" class="font">库文件检查：{{getJobCount(n,"库文件检查")}}人</td></tr>
            <tr><td v-for="n in getDays()" class="font">新闻联播监播：{{getJobCount(n,"新闻联播监播")}}人</td></tr>
            <tr><td v-for="n in getDays()" class="font">文件监视查看：{{getJobCount(n,"文件监视查看")}}人</td></tr>
            </tbody>
        </table>
    </section>

    <!--工作安排表2-->
    <section id="anPai2">
        <span class="tHead">工作安排表2</span>
        <div class="dev">
            <input class="input" type="button" value="initData" @click="initDays()"/>&nbsp;&nbsp;
            <input class="input" type="button" value="saveData" @click="saveData()"/>&nbsp;&nbsp;
            <input class="input" type="button" value="loadData" @click="loadData()"/>
        </div>
        <table id="tab4" cellpadding="2" cellspacing="1" border="3" style="table-layout:auto">
            <thead class="head">
            <tr>
                <td id="tm" colspan="2">月份：{{getMonths()}}月</td>
                <td v-for="(workStyle,widX) in workStyles">{{workStyle}}</td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(day,didX) in getDays()">
                <td class="cen">{{day}}日</td>
                <td class="cen">{{getWeeks(day)}}</td>
                <td class="tdf" v-for="(workStyle,widX) in workStyles">
                    <textarea @click="secShowBox(widX,didX)" class="addInput" >{{getJobPersons(workStyle,day)}}</textarea>
                    <div :id="'secBox'+widX+'_'+didX" class="secBox">
                        <label v-for="per in getJobAllPersons(workStyle,day)"><input type="checkbox" :value="per" />{{per}}</label><br/>
                        <input id="secSubmit" type="button" value="提交" @click="secSubmitBox(widX, didX,workStyle)" />
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </section>

    <!-- footer -->
    <footer class="footer">
        <p>© 2016 by yy. All Rights Reserved.</p>
    </footer>

    <!--弹出框 -->
    <div class="modal fade" id="aboutmodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">关于</h4>
                </div>
                <div class="modal-body">
                    <p>这是一款遵循HTML5标准的单页面网页，于2016年11月制作。</p>
                    <p>作品基于vue.js,jQuery和Bootstrap开发。</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">知道了</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/jquery-2.1.4.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/tab.js"></script>
</body>
</html>