<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智能排班表</title>
    <link rel="icon" href="./images/icon.ico"/>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/tab.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target=".navbar">

<!-- 导航 -->
<header>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse nav-style" role="navigator">
        <div class="container">
            <div class="navbar-header">
                <a id="nat" class="navbar-brand middle-font" href="#">智能排班表</a>
            </div>
            <div class="collapse navbar-collapse navbar-right middle-font" id="navbar">
                <ul class="nav navbar-nav">
                    <li><a href="index.html#home">主页</a></li>
                    <li><a href="index.html#peiZhi">人员配置表</a></li>
                    <li><a href="index.html#shangBan">上班安排表</a></li>
                    <li><a href="anPai.html#anPai1" >工作安排表1</a></li>
                    <li><a href="anPai.html#anPai2" >工作安排表2</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#aboutmodal">关于</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div id="vel">

    <!-- 主页 -->
    <section id="home">
        <div class="row home-container">
            <div class="col-md-6"></div>
            <div class="col-md-6"><img class="img-circle home-img" src="images/bg.jpg" alt="picture"></div>
        </div>
    </section>


    <!--人员配置表-->
    <section id="peiZhi">
        <span class="tHead">人员配置表</span>
        <div class="dev">
            <input class="input" type="button" value="initData" @click="initDays()"/>&nbsp;&nbsp;
            <input class="input" type="button" value="saveData" @click="saveData()"/>&nbsp;&nbsp;
            <input class="input" type="button" value="loadData" @click="loadData()"/>&nbsp;&nbsp;
            <input class="input" type="button" value="增加员工" @click="addNewRow()"/>&nbsp;&nbsp;
            <input class="input" type="button" value="删除员工" @click="removeRow()"/>

        </div>
        <table id="tab1" cellpadding="1" cellspacing="1" border="3">
            <thead>
                <tr class="head" class="th"><td v-for="style in styles">{{style}}</td></tr>
            </thead>
            <tbody id="rows">
                <tr id="tr" v-for="person in persons">
                    <td class="td1"><input type="checkbox" class='chk'/></td>
                    <td class="td2"><input v-model="person.name" class="addInput"></td>
                    <td class="td3"><input v-model="person.depart" class="addInput" ></td>
                    <td class="td4" v-for="position in person.positions"><a @click="changePositions(position)" :style="position.enabled ? 'color: #ff0000' : 'color: #00ff00' ">{{position.enabled}}</a></td>
                </tr>
            </tbody>
        </table>
    </section><br/><br/><br/><br/>


    <!--上班安排表-->
    <section id="shangBan">
        <span class="tHead">上班安排表</span>
        <div class="dev">
            <input class="input" type="button" value="initData" @click="initDays()"/>&nbsp;&nbsp;
            <input class="input" type="button" value="saveData" @click="saveData()"/>&nbsp;&nbsp;
            <input class="input" type="button" value="loadData" @click="loadData()"/>
        </div>
        <table id="tab2" cellpadding="2" cellspacing="1" border="3">
            <thead class="head">
                <tr><th rowspan="2" class="cen">月份：{{getMonths()}}月</th><th id="th" v-for="n in getDays()" class="th cen">{{n}}日</th><th rowspan="2" class="cen">工作：</th><th rowspan="2" class="cen">休息：</th></tr>
                <tr><th v-for="n in getDays()" class="th cen">{{getWeeks(n)}}</th></tr>
            </thead>
            <tbody>
                <tr v-for="person in persons">
                    <td id="person"><input v-model="person.name" class="addInput"></td>
                    <td id="work" class="tsb" v-for="day in person.days"><a @click="changeWork(day)" :style="day.work ? 'color: #ff0000' : 'color: #00ff00' ">{{day.work}}</a><td id="date" class="tsb">{{getWorkDays(person)}}天</td><td class="tsb">{{getDays()-getWorkDays(person)}}天</td></td>
                </tr>
            </tbody>
        </table>
    </section><br><br/><br/><br/>


   <!-- footer -->
    <footer class="footer">
        <p>© 2016 by yy. All Rights Reserved.</p>
    </footer>


    <!--弹出框 -->
    <div class="modal fade" id="aboutmodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">关于</h4>
                </div>
                <div class="modal-body">
                    <p>这是一款遵循HTML5标准的单页面网页，于2016年11月制作。</p>
                    <p>作品基于vue.js,jQuery和Bootstrap开发。</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">知道了</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/jquery-2.1.4.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/tab.js"></script>
</body>
</html>